/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  text-decoration: none;
  color: inherit; }

body {
  line-height: 1;
  font-family: 'Lato', sans-serif; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p, h1 {
  color: #253031; }

.containerHeader {
  padding: 25px 60px; }

.containerLogoNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px; }

.containerLogo {
  display: flex;
  align-items: center; }

.logoTitle {
  font-size: 12px;
  color: #253031;
  line-height: 22px;
  font-weight: bold;
  margin-left: 10px; }

.containerNav {
  font-size: 12px;
  color: #253031;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase; }

.nav {
  margin-left: 10px; }

.headerMainContent {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.headerContent {
  text-align: center; }

.headerContentHeading {
  font-size: 36px;
  color: #253031;
  font-weight: bold;
  line-height: 48px;
  font-family: 'Playfair Display', serif; }

.headerContentDescription {
  width: 90%;
  margin: 15px 0;
  font-size: 16px;
  color: #253031;
  line-height: 29px; }

.headerImage {
  z-index: 99; }

@media all and (max-width: 450px) {
  .containerHeader {
    padding: 25px 30px; }

  .containerLogoNav {
    justify-content: center; }

  .containerNav {
    display: none; }

  .headerMainContent {
    flex-direction: column; }

  .headerContentHeading {
    font-size: 24px; }

  .headerImage {
    display: none; }

  .headerContentDescription {
    width: 100%; } }
@media all and (min-width: 451px) {
  .containerHeader {
    padding: 25px 60px; }

  .containerLogoNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px; }

  .containerLogo {
    display: flex;
    align-items: center; }

  .logoTitle {
    font-size: 12px;
    color: #253031;
    line-height: 22px;
    font-weight: bold;
    margin-left: 10px; }

  .containerNav {
    font-size: 12px;
    color: #253031;
    font-weight: bold;
    line-height: 22px;
    text-transform: uppercase; }

  .nav {
    margin-left: 10px; }

  .headerMainContent {
    display: flex;
    align-items: center;
    justify-content: space-between; }

  .headerContent {
    text-align: center; }

  .headerContentHeading {
    font-size: 36px;
    color: #253031;
    font-weight: bold;
    line-height: 48px;
    font-family: 'Playfair Display', serif; }

  .headerContentDescription {
    width: 90%;
    margin: 15px 0;
    font-size: 16px;
    color: #253031;
    line-height: 29px; }

  .headerImage {
    z-index: 99; } }
.headerInput {
  font-size: 13px;
  color: #80898A;
  line-height: 19px;
  border-radius: 5px;
  border: 1px solid #EBEBEB;
  padding: 10px 15px; }

.headerButton {
  color: #fff;
  border-radius: 5px;
  background: #0099FF; }

.containerSectionOne {
  background: #0099FF;
  margin-top: -180px;
  padding: 240px 20px 100px 60px;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%); }

.sectionOneHeading {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
  font-family: 'Playfair Display'; }

.sectionOneTitle {
  font-size: 16px;
  color: #90D2FF;
  line-height: 29px; }

.sectionOneContent {
  border-radius: 10px;
  background: #fff;
  padding: 25px; }

.wrapperSectinOneContent {
  display: flex;
  width: 75%; }

.sectionOneContentMargin {
  margin-bottom: 20px; }

.sectionOneContentMargin2 {
  margin-right: 20px; }

.sectionContentSubtitle {
  font-size: 12px;
  color: #1954EC;
  font-weight: bold;
  line-height: 22px; }

.sectionContentTitle {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  line-height: 36px;
  font-family: 'Playfair Display'; }

.sectionContentDescription {
  width: 80%;
  font-size: 16px;
  color: #80898A;
  line-height: 29px;
  margin-bottom: 15px; }

.sectionOneContent a {
  font-size: 16px;
  color: #253031;
  line-height: 19px;
  font-weight: bold;
  text-transform: capitalize; }

@media all and (max-width: 450px) {
  .containerSectionOne {
    margin-top: 0;
    padding: 60px 15px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }

  .sectionOneHeading,
  .sectionOneTitle {
    display: none; }

  .wrapperSectinOneContent {
    display: block;
    width: 100%; }

  .sectionContentDescription {
    width: 100%; }

  .sectionOneContentMargin2 {
    margin-right: 0; }

  .mobileSectionOneContentMargin {
    margin-bottom: 20px; } }
.containerSectionTwo {
  padding: 40px;
  background: #ffffff; }

.wrapperSectionTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto; }

.governorImg {
  width: 400%;
  height: 400%;
  border-radius: 100%; }

.sectionTwoContent {
  margin-left: 170px; }

.sectionTwoDescription {
  width: 80%;
  font-size: 18px;
  color: #253031;
  line-height: 30px;
  margin-bottom: 15px;
  font-family: 'Playfair Display'; }

.governorName {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  line-height: 29px; }

.governorPosition {
  font-size: 16px;
  color: #80898A;
  line-height: 29px; }

@media all and (max-width: 450px) {
  .containerSectionTwo {
    padding: 20px; }

  .wrapperSectionTwo {
    flex-direction: column;
    width: 100%; }

  .sectionTwoContent {
    margin-left: 0; }

  .governorImg {
    width: 100%;
    height: 100%; }

  .sectionTwoDescription {
    width: 90%;
    margin: 25px auto;
    line-height: 36px;
    text-align: center; }

  .governorName,
  .governorPosition {
    text-align: center; } }
.containerSectionThree {
  background: #E7EFF5;
  padding: 30px 60px; }

.sectionThreeHeading {
  font-size: 24px;
  color: #0099FF;
  font-weight: bold;
  line-height: 48px;
  font-family: 'Playfair Display'; }

.sectionThreeSubheading {
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 20px; }

.containerSectionThreeContent {
  display: flex;
  justify-content: space-between; }

.sectionThreeContent {
  border-radius: 10px;
  background: #FFFFFF;
  padding: 25px 100px 25px 25px; }

.sectionThreeContentHeading {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  line-height: 36px;
  font-family: 'Playfair Display'; }

.sectionThreeConntentAmount {
  font-size: 36px;
  font-weight: 900;
  color: #0099FF;
  line-height: 43px;
  margin-bottom: 15px; }

.fa-check-circle {
  color: #0099FF;
  margin-right: 5px; }

.sectionThreePackages {
  font-size: 16px;
  color: #80898A;
  line-height: 29px; }

.fa-arrow-right {
  color: #0099FF; }

.sectionThreePackageLink {
  font-size: 16px;
  color: #253031;
  font-weight: bold;
  line-height: 19px;
  margin-top: 35px; }

.promoHeading {
  margin-top: 60px; }

@media all and (max-width: 450px) {
  .containerSectionThree {
    padding: 50px 20px; }

  .sectionThreeHeading,
  .sectionThreeSubheading {
    text-align: center; }

  .containerSectionThreeContent {
    justify-content: none;
    overflow-x: auto; }

  .mobileContainerSectionThreeContent,
  .mobilePromoHeading,
  .mobileSectionThreePromoSubHeading {
    display: none; }

  .sectionThreeContent {
    flex-shrink: 0;
    margin-right: 10px; } }
.containerLogoSubtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px; }

.logoHeading {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 15px; }

.logoNav {
  display: none; }

@media screen and (min-width: 450px) {
  .wrapperLogo {
    display: flex;
    justify-content: space-between; }

  .logoNav {
    display: flex;
    font-size: 20px;
    color: #253031;
    font-weight: bold;
    line-height: 22px;
    text-transform: capitalize; }

  .nav {
    margin-left: 15px; } }
.mainHeading {
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
  text-align: center; }

.headerImage {
  display: none; }

.headerContent {
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  width: 80%;
  margin: 20px auto 40px; }

@media screen and (min-width: 450px) {
  .wrapperHeader {
    display: flex; }

  .headerImage {
    display: block;
    z-index: 2; }

  .mainHeading {
    font-size: 38px;
    text-align: left; }

  .headerContent {
    text-align: left;
    margin: 20px 0 40px; } }
.container {
  padding: 40px 0 30px;
  background: #E5E5E5; }

.wrapperCompany {
  padding: 40px 20px 30px;
  background: #0099FF; }

.wrapperExecutive {
  padding: 20px;
  background: #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: center; }

@media screen and (min-width: 450px) {
  .container {
    padding: 50px; }

  .wrapperCompany {
    padding: 100px 20px 30px;
    clip-path: polygon(0 0, 100% 0, 70% 100% 0 100%); }

  .wrapperExecutive {
    flex-direction: row;
    margin: 0 auto; } }
.containerCompany {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 15px; }

.companySubtitle {
  font-size: 20px;
  color: #1954EC;
  line-height: 22px; }

.companyTitle {
  color: #000;
  margin: 10px 0;
  font-size: 26px;
  line-height: 36px;
  font-weight: bold;
  text-transform: capitalize; }

.companyDescription {
  width: 80%;
  font-size: 20px;
  color: #80898A;
  line-height: 29px; }

.governorImg {
  width: 70%;
  height: 70%;
  border-radius: 100%; }

.executiveDescription {
  font-size: 22px;
  color: #253031;
  line-height: 36px;
  text-align: center;
  width: 90%;
  margin: 40px 0; }

.governorName {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  text-align: center; }

.governorExecutive {
  font-weight: bold;
  margin-bottom: 5px; }

.executiveTitle {
  color: #80898A; }

.containerCompanyPlatform {
  display: none; }

@media screen and (min-width: 450px) {
  .company {
    display: flex; }

  .wrapperCompany {
    display: none; }

  .containerCompanyPlatform {
    margin-top: -15%;
    padding: 180px 0 30px 80px;
    background: #0099FF;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    display: flex;
    flex-direction: column; }

  .companyPlatformHeading {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px; }

  .platformSubheading {
    font-size: 16px;
    color: #90D2FF;
    line-height: 29px;
    margin-bottom: 25px; }

  .containerContent {
    padding: 30px;
    background: #fff;
    border-radius: 10px; }

  .containerContent p {
    font-size: 16px;
    color: #80898A;
    margin: 15px 0;
    line-height: 29px; }

  .containerContent h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    color: #000; }

  .container2 {
    width: 70%; }

  .containerContent h4 {
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    color: #1954EC; }

  .wrapperContent {
    display: flex; }

  .spaceBetween {
    margin-left: 35px; }

  .spaceBelow {
    margin-bottom: 35px; }

  .executiveDescription {
    text-align: left; }

  .governorName {
    text-align: left; }

  .governorImg {
    width: 80%;
    height: 80%;
    border-radius: 100%;
    margin-right: 100px; }

  .containerWebExecutive {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0; } }
.containerHeaderInput {
  font-size: 16px;
  line-height: 19px; }

.containerInputBtn {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto; }

.headerInpute {
  border-radius: 5px;
  background: #EBEBEB;
  border: 1px solid #EBEBEB;
  padding: 15px;
  color: #80898A;
  margin-right: 15px; }

.headerContentButton {
  padding: 15px;
  color: #fff;
  border-radius: 5px;
  background: #0099FF;
  text-transform: capitalize;
  border: 1px solid #0099FF; }

.headerInputAside {
  font-size: 12px;
  color: #80898A;
  line-height: 14px;
  margin-top: 15px; }

.headerButton {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  padding: 20px;
  border-radius: 5px;
  background: #0099FF;
  border: 1px solid #0099FF; }

.containerWebInputBtn {
  display: none; }

@media screen and (min-width: 450px) {
  .containerInputBtn {
    flex-direction: row;
    margin: 0; }

  .headerInput {
    padding: 20px;
    margin-right: 15px; }

  .headerButton {
    padding: 0; }

  .containerInputBtn {
    display: none; }

  .containerWebInputBtn {
    display: flex; }

  .webHeaderInput {
    border-radius: 5px;
    padding: 15px 70px 15px 15px;
    background: #EBEBEB;
    border: 1px solid #EBEBEB;
    margin-right: 20px; }

  .webHeaderBtn {
    padding: 0 20px;
    border-radius: 5px;
    background: #0099FF;
    border: 1px solid #0099FF; } }
.wrapperPolicy {
  padding: 40px 20px;
  background: #E7EFF5; }

.containerPolicy {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.policyHeading {
  font-size: 28px;
  color: #0099FF;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  text-transform: capitalize; }

.policyTitle {
  font-size: 20px;
  color: #80898A;
  line-height: 29px;
  text-align: center;
  margin-bottom: 35px; }

.slider {
  width: 100%;
  background: #FFF;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  overflow-x: auto; }

.slide {
  width: 100%;
  flex-shrink: 0;
  margin: 20px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column; }

.slide > div {
  scroll-snap-align: start; }

.heading {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  line-height: 36px; }

.amount {
  font-size: 36px;
  font-weight: 900;
  color: #0099FF;
  line-height: 43px;
  margin: 15px 0 20px; }

.packages {
  font-size: 16px;
  color: #80898A;
  line-height: 29px; }

.containerPolicyBtn {
  display: flex;
  margin-top: 40px;
  justify-content: center; }

.policyButton {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 19px;
  padding: 20px 50px;
  border-radius: 5px;
  background: #0099FF;
  border: 1px solid #0099FF; }

.webPolicy {
  display: none; }

@media screen and (min-width: 450px) {
  .wrapperPolicy {
    display: none; }

  .webPolicy {
    background: #E7EFF5;
    padding: 70px;
    display: block; }

  .containerWebPolicy {
    display: flex;
    justify-content: space-between; }

  .wrapperWebPolicy {
    background: #fff;
    padding: 30px 120px 30px 30px;
    border-radius: 10px; }

  .heading {
    font-size: 18px; }

  .webPolicyHeading {
    color: #0099FF;
    font-size: 24px;
    line-height: 48px;
    font-weight: bold;
    text-transform: capitalize; }

  .webPolicySubheading {
    color: #80898A;
    font-size: 16px;
    line-height: 29px;
    margin-bottom: 15px; } }
.containerFooter {
  font-size: 12px;
  color: #E5E5E5;
  font-weight: bold;
  line-height: 14px;
  padding: 40px 60px;
  background: #282C38;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.companyContact {
  text-align: right; }

.contacts {
  order: 2;
  text-align: right; }

.copyright {
  color: #80898A; }

.adminContact {
  margin-bottom: 15px; }

@media all and (max-width: 450px) {
  .containerFooter {
    flex-direction: column;
    justify-content: center; }

  .contacts {
    order: 0;
    text-align: center; }

  .copyright {
    margin-top: 15px; } }
@media all and (min-width: 451px) {
  .containerFooter {
    font-size: 12px;
    color: #E5E5E5;
    font-weight: bold;
    line-height: 14px;
    padding: 40px 60px;
    background: #282C38;
    font-family: 'Roboto', sans-serif; }

  .wrapperFooter {
    padding: 40px;
    font-size: 18px;
    color: #E5E5E5;
    text-align: center;
    background: #282C38; }

  .customerService {
    margin-bottom: 20px;
    text-transform: capitalize; }

  .serviceEnail {
    margin-bottom: 20px; }

  .companyContact {
    order: 2; }

  .customerService {
    text-align: right; } }

/*# sourceMappingURL=app.css.map */
