.headerInput {
    font-size: 13px;
    color: #80898A;
    line-height: 19px;
    border-radius: 5px;
    // background: #EBEBEB;
    border: 1px solid #EBEBEB;
    padding: 10px 15px;

}
.headerButton {
    color: #fff;
    border-radius: 5px;
    background: #0099FF;
}