.container {
    padding: 40px 0 30px;
    background: #E5E5E5;
}
.wrapperCompany {
    padding: 40px 20px 30px;
    background: #0099FF;
}
.wrapperExecutive {
    padding: 20px;
    background: #E5E5E5;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 450px) {
    .container {
        padding: 50px;
      
    }
    .wrapperCompany {
        padding: 100px 20px 30px;
        clip-path: polygon(0 0, 100% 0, 70% 100% 0 100%);
    }
    .wrapperExecutive {
        flex-direction: row;
        margin: 0 auto;
    }
}