.containerSectionTwo {
    width: 75%;
    margin: 0 auto;
    padding: 40px 20px 60px;
}
.sectionTwoContent {
    display: flex;
    align-items: center;
}
.governorImg {
    width: 50%;
    height: 50%;
    border-radius: 100%;
    margin-right: 60px;
}
.governorDescription {
    width: 70%;
    font-size: 18px;
    color: #4f5c5e;
    line-height: 36px;
    margin-bottom: 20px;
    font-family: 'Playfair Display';
}
.governorName {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    line-height: 29px;
}
.governorPosition {
    font-size: 16px;
    color: #80898A;
    font-weight: bold;
    line-height: 29px;
}



@media all and (max-width: 450px) {
    .containerSectionTwo {
        width: none;
        padding: 40px 45px;
    }
    .governorImg {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .sectionTwoContent {
        display: flex;
        flex-direction: column;
    }
    .governorDescription {
        width: 100%;
        text-align: center;
    }
    .governorTitle {
        text-align: center;
    }
}